{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>
        <div class="d-flex flex-column">
            <p><b>AI</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button type="button" class="btn btn-primary btn-lg {% if btn1_ai_active %}active{% endif %}" onclick="window.location.href='/auto/ai/1'">START</button>
                <button type="button" class="btn btn-danger btn-lg {% if btn2_ai_active %}active{% endif %}" onclick="window.location.href='/auto/ai/2'">STOP</button>
            </div>
            <p><b>CLASS</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button type="button" class="btn btn-info btn-lg {% if btn1_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/1'">Person</button>
                <button type="button" class="btn btn-info btn-lg {% if btn2_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/2'">Dog</button>
                <button type="button" class="btn btn-info btn-lg {% if btn3_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/3'">Cell phone</button>
            </div>
        </div>
        <!-- <div class="d-flex flex-column">
            <p><b>IOU</b></p>
            <input id="inputNumber" type="text" name="number">
            <button id="submitButton" type="button" class="btn btn-info btn-lg">SET</button>
        </div>
        <script>
            $(document).ready(function() {
            $("#submitButton").click(function() {
                var number = $("#inputNumber").val();  // テキストボックスから値を取得
                $.ajax({
                type: "POST",  // POSTリクエストを送信
                url: "/auto/iou",  // リクエスト先のURL
                data: {number: number},  // テキストボックスから取得した値をリクエストに含める
                // success: function(result) {
                //     console.log(result);  // リクエストが成功した場合に実行される処理
                // },
                // error: function(jqXHR, textStatus, errorThrown) {
                //     console.log(textStatus, errorThrown);  // リクエストが失敗した場合に実行される処理
                // }
                });
            });
            });
        </script> -->
    </div>
</div>

{% endblock %}