{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>
        <div class="d-flex flex-column">
            <p><b>AI</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button type="button" class="btn btn-primary btn-lg {% if btn1_ai_active %}active{% endif %}" onclick="window.location.href='/auto/ai/1'">START</button>
                <button type="button" class="btn btn-danger btn-lg {% if btn2_ai_active %}active{% endif %}" onclick="window.location.href='/auto/ai/2'">STOP</button>
            </div>
            <p><b>CLASS</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button type="button" class="btn btn-info btn-lg {% if btn1_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/1'">Person</button>
                <button type="button" class="btn btn-info btn-lg {% if btn2_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/2'">Dog</button>
                <button type="button" class="btn btn-info btn-lg {% if btn3_class_active %}active{% endif %}" onclick="window.location.href='/auto/class/3'">Cell phone</button>
            </div>
        </div>
    </div>
</div>


<br>
<hr>
<!-- <div class="=row" style="position:relative;"> -->

<!-- </div> -->

{% endblock %}