{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-primary btn-lg {% if btn1_mode_active %}active{% endif %}" onclick="window.location.href='/mode/1'">AUTO</button>
            <button type="button" class="btn btn-success btn-lg {% if btn2_mode_active %}active{% endif %}" onclick="window.location.href='/mode/2'">MANUAL</button>
        </div>
    </div>
</div>

{% endblock %}