{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Okatron AI</h1>
    </div>
    <div class="col text-end" >
        <img src="/static/img/logo.png" width="40%">
    </div>
    </div>
<hr>
<div class="container">
    <div class="row h-100 p-3">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/mode/1'">AUTO</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-block" onclick="window.location.href='/mode/2'">MANUAL</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-warning btn-block" onclick="window.location.href='/mode/3'">PROGRAM</button>
        </div>
    </div>
</div>

{% endblock %}