<!DOCTYPE html>
<html lang="ja">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Okatron AI</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/cross-key.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: whitesmoke;">
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10">
                <h1>Okatron AI</h1>
            </div>
            <div class="col text-end" >
                <img src="/static/img/logo.png" width="40%">
            </div>
        </div>
        <hr>
        {% block content %}
        <!-- メインコンテンツ -->
        {% endblock %}
    </div>
</div>
<br>
<hr>
<footer>
    <div align="center">
        <p>This is a Okatron AI application Powered by <b>GSMS OKTC</b></p>>
    </div>
</footer>
</body>
</html>