{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/cross-key.css">
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Okatron AI   MANUAL MODE</h1>
    </div>
    <div class="col text-end" >
        <img src="/static/img/logo.png" width="40%">
    </div>
    </div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>

        <div class="col-md-6">
          <div class="form-group row mb-3">
            <div class="col-sm-5">
            <label class="text-center"><b>MOVE</b></label>
            <div class="cross-layout col-sm-5">
              <button class="position-top btn cross-key-btn" id="move_top"><span class="top-mark">▲</span></button>
              <button class="position-left btn cross-key-btn" id="move_left"><span class="left-mark">▲</span></button>
              <button class="position-right btn cross-key-btn" id="move_right"><span class="right-mark">▲</span></button>
              <button class="position-bottom btn cross-key-btn" id="move_bottom"><span class="bottom-mark">▲</span></button>
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-sm-5">
              <label class="text-center"><b>CAMERA</b></label>
              <div class="cross-layout col-sm-5">
                <button class="position-top btn cross-key-btn" id="camera_top"><span class="top-mark">▲</span></button>
                <button class="position-left btn cross-key-btn" id="camera_left"><span class="left-mark">▲</span></button>
                <button class="position-right btn cross-key-btn" id="camera_right"><span class="right-mark">▲</span></button>
                <button class="position-bottom btn cross-key-btn" id="camera_bottom"><span class="bottom-mark">▲</span></button>
              </div>
          </div>
        </div>
    </div>
</div>

<script>
  const move_top = document.getElementById('move_top');
  const move_left = document.getElementById('move_left');
  const move_right = document.getElementById('move_right');
  const move_bottom = document.getElementById('move_bottom');
  const camera_top = document.getElementById('camera_top');
  const camera_left = document.getElementById('camera_left');
  const camera_right = document.getElementById('camera_right');
  const camera_bottom = document.getElementById('camera_bottom');

  move_top.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/move_top");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    move_top.addEventListener("mouseup", () => {
      clearInterval( intervalID );
    });
  });

  move_left.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/move_left");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    move_left.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  move_right.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/move_right");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    move_right.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  move_bottom.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/move_bottom");
                },
                20
            );
    // ボタンが離されるまで、処理を続ける
    move_bottom.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  camera_top.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/camera_top");
                },
                20
            );
    // ボタンが離されるまで、処理を続ける
    camera_top.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  camera_left.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/camera_left");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    camera_left.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  camera_right.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/camera_right");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    camera_right.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

  camera_bottom.addEventListener("mousedown", () => {
    // 20ミリ秒ごとに「countUpDown()」関数を呼び出す繰り返しタイマー
    intervalID = setInterval(
                function(){
                    // FastAPIにリクエストを送信する
                    fetch("/mode/2/camera_bottom");
                },
                20
            );

    // ボタンが離されるまで、処理を続ける
    camera_bottom.addEventListener("mouseup", () => {
      clearInterval(intervalID)
    });
  });

</script>

{% endblock %}