{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Okatron AI   MANUAL MODE</h1>
    </div>
    <div class="col text-end" >
        <img src="/static/img/logo.png" width="40%">
    </div>
    </div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>
        <div class="d-flex flex-column">
            <p><b>AI</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button id=ai_start type="button" class="btn btn-primary btn-lg {% if btn1_ai_active %}active{% endif %}">START</button> <!--onclick="window.location.href='/auto/ai/1'">START</button>-->
                <button id=ai_stop type="button" class="btn btn-danger btn-lg {% if btn2_ai_active %}active{% endif %}">STOP</button> <!--onclick="window.location.href='/auto/ai/2'">STOP</button>-->
            </div>
            <script>
                const btn_ai_start = document.getElementById("ai_start");
                const btn_ai_stop = document.getElementById("ai_stop");

                btn_ai_start.addEventListener("click", function() {
                  btn_ai_start.disabled = true;
                  btn_ai_stop.disabled = false;
                  fetch('/mode/1/ai_start', {
                    method: 'POST'
                  })
                });
                btn_ai_stop.addEventListener("click", function() {
                  btn_ai_start.disabled = false;
                  btn_ai_stop.disabled = true;
                  fetch('/mode/1/ai_stop', {
                    method: 'POST'
                  })
                });
            </script>
            <p><b>CLASS</b></p>
            <div class="btn-group btn-group-toggle mx-3 my-3" role="group" aria-label="Toggle buttons">
                <button id="class1" type="button" class="btn btn-info btn-lg {% if btn1_class_active %}active{% endif %}">Person</button>
                <button id="class2" type="button" class="btn btn-info btn-lg {% if btn2_class_active %}active{% endif %}">Dog</button>
                <button id="class3" type="button" class="btn btn-info btn-lg {% if btn3_class_active %}active{% endif %}">Cell phone</button>
            </div>
            <script>
                const btn_class1 = document.getElementById("class1");
                const btn_class2 = document.getElementById("class2");
                const btn_class3 = document.getElementById("class3");

                btn_class1.addEventListener("click", function() {
                  btn_class1.disabled = true;
                  btn_class2.disabled = false;
                  btn_class3.disabled = false;
                  fetch('/mode/1/class1', {
                    method: 'POST'
                  })
                });
                btn_class2.addEventListener("click", function() {
                  btn_class1.disabled = false;
                  btn_class2.disabled = true;
                  btn_class3.disabled = false;
                  fetch('/mode/1/class2', {
                    method: 'POST'
                  })
                });
                btn_class3.addEventListener("click", function() {
                  btn_class1.disabled = false;
                  btn_class2.disabled = false;
                  btn_class3.disabled = true;
                  fetch('/mode/1/class3', {
                    method: 'POST'
                  })
                });
            </script>


            <!-- <p><b>IOU</b></p>
            <input id="inputNumber" type="text" name="number">
            <button id="submitButton" type="button" class="btn btn-info btn-lg">SET</button>
            <script>
                $(document).ready(function() {
                $("#submitButton").click(function() {
                    var number = $("#inputNumber").val();  // テキストボックスから値を取得
                    $.ajax({
                    type: "POST",  // POSTリクエストを送信
                    url: "/auto/iou",  // リクエスト先のURL
                    data: {iou: number},  // テキストボックスから取得した値をリクエストに含める
                    success: function(result) {
                        console.log(result);  // リクエストが成功した場合に実行される処理
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);  // リクエストが失敗した場合に実行される処理
                    }
                    });
                });
                });
            </script> -->
        </div>
    </div>
</div>

{% endblock %}