{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Okatron AI   PROGRAM MODE</h1>
    </div>
    <div class="col text-end" >
        <img src="/static/img/logo.png" width="40%">
    </div>
    </div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>
        <div class="col-md-6">
            <p><b>Set</b></p>
            <div class="form-group row mb-3">
              <label for="unit1" class="col-sm-2 col-form-label">Unit 1:</label>
              <div class="col-sm-4">
                <select class="form-control" id="unit1">
                  <option value="">Select</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input1" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div class="form-group row mb-3">
              <label for="unit2" class="col-sm-2 col-form-label">Unit 2:</label>
              <div class="col-sm-4">
                <select class="form-control" id="unit2">
                  <option value="">Select</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input2" placeholder="Enter a number" disabled>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="unit3" class="col-sm-2 col-form-label">Unit 3:</label>
              <div class="col-sm-4">
                <select class="form-control" id="unit3">
                  <option value="">Select</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <!-- <label for="myInput" class="col-sm-2 col-form-label">Number:</label> -->
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input3" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div>
              <button id="start-button" class="btn btn-primary mt-3">START</button>
            </div>

<script>
  const unit1_sel = document.querySelector('#unit1');
  const input1_sel = document.querySelector('#input1');
  const unit2_sel = document.querySelector('#unit2');
  const input2_sel = document.querySelector('#input2');
  const unit3_sel = document.querySelector('#unit3');
  const input3_sel = document.querySelector('#input3');

  unit1_sel.addEventListener('change', (event) => {
    if (event.target.value === '2' || event.target.value === "3") {
      input1_sel.disabled = false;
    } else {
      input1_sel.disabled = true;
    }
  });

  unit2_sel.addEventListener('change', (event) => {
    if (event.target.value === '2' || event.target.value === "3") {
      input2_sel.disabled = false;
    } else {
      input2_sel.disabled = true;
    }
  });

  unit3_sel.addEventListener('change', (event) => {
    if (event.target.value === '2' || event.target.value === "3") {
      input3_sel.disabled = false;
    } else {
      input3_sel.disabled = true;
    }
  });

  // STARTボタンがクリックされたときに実行する関数
  function start() {
    // ドロップダウンと数字入力ボックスの値を取得する
    const unit1 = document.getElementById('unit1');
    const input1 = document.getElementById('input1');
    const value1 = unit1.value === '1' ? input1.value : '';
    const unit2 = document.getElementById('unit2');
    const input2 = document.getElementById('input2');
    const value2 = unit2.value === '1' ? input2.value : '';
    const unit3 = document.getElementById('unit3');
    const input3 = document.getElementById('input3');
    const value3 = unit3.value === '1' ? input2.value : '';

    // FastAPIに情報を渡す
    fetch('/mode/3/info', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({
        unit1: String(unit1.value),
        value1: String(value1),
        unit2: String(unit2.value),
        value2: String(value2),
        unit3: String(unit3.value),
        value3: String(value3),
      }),
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
      })
      .catch(error => {
        console.error(error);
      });
  }

  // STARTボタンにclickイベントを追加する
  const startButton = document.getElementById('start-button');
  startButton.addEventListener('click', start);

  // ドロップダウンの値が変更されたときに実行する関数
  function dropdownChanged(dropdown, input) {
    // 特定の値のときのみ、数字入力ボックスを有効にする
    if (dropdown.value === '1') {
      input.disabled = false;
    } else {
      input.disabled = true;
    }
  }
</script>
        </div>
    </div>
</div>



{% endblock %}