{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Okatron AI   PROGRAM MODE</h1>
    </div>
    <div class="col text-end" >
        <img src="/static/img/logo.png" width="40%">
    </div>
    </div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
            <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
        </div>
        <br>
        <div class="col-md-6">
            <p><b>Set</b></p>
            <div class="form-group row mb-3">
              <label for="unit1" class="col-sm-1 col-form-label">Unit1:</label>
              <div class="col-sm-5">
                <select class="form-control" id="unit1">
                  <option value="" selected>Select</option>
                  <option value="1">前に進む[cm]</option>
                  <option value="2">右を向く(タイヤ)</option>
                  <option value="3">右を向く(カメラ)[度]</option>
                  <option value="4">左を向く(タイヤ)</option>
                  <option value="5">左を向く(カメラ)[度]</option>
                  <option value="6">後ろに進む[cm]</option>
                  <option value="7">上を向く[度]</option>
                  <option value="8">下を向く[度]</option>
                  <option value="9">物体を認識</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input1" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div class="form-group row mb-3">
              <label for="unit2" class="col-sm-1 col-form-label">Unit2:</label>
              <div class="col-sm-5">
                <select class="form-control" id="unit2">
                  <option value="" selected>Select</option>
                  <option value="1">前に進む[cm]</option>
                  <option value="2">右を向く(タイヤ)</option>
                  <option value="3">右を向く(カメラ)[度]</option>
                  <option value="4">左を向く(タイヤ)</option>
                  <option value="5">左を向く(カメラ)[度]</option>
                  <option value="6">後ろに進む[cm]</option>
                  <option value="7">上を向く[度]</option>
                  <option value="8">下を向く[度]</option>
                  <option value="9">物体を認識</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input2" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div class="form-group row mb-3">
              <label for="unit3" class="col-sm-1 col-form-label">Unit3:</label>
              <div class="col-sm-5">
                <select class="form-control" id="unit3">
                  <option value="" selected>Select</option>
                  <option value="1">前に進む[cm]</option>
                  <option value="2">右を向く(タイヤ)</option>
                  <option value="3">右を向く(カメラ)[度]</option>
                  <option value="4">左を向く(タイヤ)</option>
                  <option value="5">左を向く(カメラ)[度]</option>
                  <option value="6">後ろに進む[cm]</option>
                  <option value="7">上を向く[度]</option>
                  <option value="8">下を向く[度]</option>
                  <option value="9">物体を認識</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input3" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div class="form-group row mb-3">
              <label for="unit4" class="col-sm-1 col-form-label">Unit4:</label>
              <div class="col-sm-5">
                <select class="form-control" id="unit4">
                  <option value="" selected>Select</option>
                  <option value="1">前に進む[cm]</option>
                  <option value="2">右を向く(タイヤ)</option>
                  <option value="3">右を向く(カメラ)[度]</option>
                  <option value="4">左を向く(タイヤ)</option>
                  <option value="5">左を向く(カメラ)[度]</option>
                  <option value="6">後ろに進む[cm]</option>
                  <option value="7">上を向く[度]</option>
                  <option value="8">下を向く[度]</option>
                  <option value="9">物体を認識</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input4" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div class="form-group row mb-3">
              <label for="unit5" class="col-sm-1 col-form-label">Unit5:</label>
              <div class="col-sm-5">
                <select class="form-control" id="unit5">
                  <option value="" selected>Select</option>
                  <option value="1">前に進む[cm]</option>
                  <option value="2">右を向く(タイヤ)</option>
                  <option value="3">右を向く(カメラ)[度]</option>
                  <option value="4">左を向く(タイヤ)</option>
                  <option value="5">左を向く(カメラ)[度]</option>
                  <option value="6">後ろに進む[cm]</option>
                  <option value="7">上を向く[度]</option>
                  <option value="8">下を向く[度]</option>
                  <option value="9">物体を認識</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="number" class="form-control mr-2" id="input5" placeholder="Enter a number" disabled>
              </div>
            </div>

            <div>
              <button id="start-button" class="btn btn-primary mt-3">START</button>
            </div>

<script>
  const unit1 = document.querySelector('#unit1');
  const input1 = document.querySelector('#input1');
  const unit2 = document.querySelector('#unit2');
  const input2 = document.querySelector('#input2');
  const unit3 = document.querySelector('#unit3');
  const input3 = document.querySelector('#input3');
  const unit4 = document.querySelector('#unit4');
  const input4 = document.querySelector('#input4');
  const unit5 = document.querySelector('#unit5');
  const input5 = document.querySelector('#input5');
  const startButton = document.getElementById('start-button');

  // ドロップダウンの値が変更されたときに実行する関数
  function dropdownChanged(target, input) {
    if (target.value === '2' || target.value === '4' || target.value === '9') {
      input.value = ""
      input.disabled = true;
    } else {
      input.disabled = false;
    }
  }

  // STARTボタンがクリックされたときに実行する関数
  function start() {
    // ドロップダウンと数字入力ボックスの値を取得する
    const value1 = unit1.value === '1' ? input1.value : '';
    const value2 = unit2.value === '1' ? input2.value : '';
    const value3 = unit3.value === '1' ? input3.value : '';
    const value4 = unit4.value === '1' ? input4.value : '';
    const value5 = unit5.value === '1' ? input5.value : '';

    // FastAPIに情報を渡す
    fetch('/mode/3/info', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({
        unit1: String(unit1.value),
        value1: String(value1),
        unit2: String(unit2.value),
        value2: String(value2),
        unit3: String(unit3.value),
        value3: String(value3),
        unit4: String(unit4.value),
        value4: String(value4),
        unit5: String(unit5.value),
        value5: String(value5),
      }),
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
      })
      .catch(error => {
        console.error(error);
      });
  }


  startButton.addEventListener('click', start);

  unit1.addEventListener('change', function(){dropdownChanged(unit1, input1)})
  unit2.addEventListener('change', function(){dropdownChanged(unit2, input2)})
  unit3.addEventListener('change', function(){dropdownChanged(unit3, input3)})
  unit4.addEventListener('change', function(){dropdownChanged(unit4, input4)})
  unit5.addEventListener('change', function(){dropdownChanged(unit5, input5)})

</script>
        </div>
    </div>
</div>



{% endblock %}