<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Okatron AI</title>
    <link rel="icon" href="/static/favicon/favicon.ico">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body style="background-color: whitesmoke;">
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
<br>
<div class="row">
  <div class="col-md-2" >
    <a href="/"><img src="../static/img/logo.png" width="40%"></a>
  </div>
  <div class="col-md-2 align-self-end">
    <button type="button" class="btn btn-dark btn-block" onclick="goBack()">BACK</button>
  </div>
  <div class="col-md-2 align-self-end">
    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/mode/1'">AUTO</button>
  </div>
  <div class="col-md-2 align-self-end">
      <button type="button" class="btn btn-success btn-block" onclick="window.location.href='/mode/2'">MANUAL</button>
  </div>
  <div class="col text-end align-self-end text-right">
      <h1>PROGRAM MODE</h1>
  </div>
</div>
<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('video_feed') }}" width="640" height="480" class="img-fluid mb-3">
    </div>
    <br>
    <div class="col-md-6">
      <p><b>Set</b></p>
      <div class="form-group row mb-3">
        <label for="unit1" class="col-sm-1 col-form-label">Unit1:</label>
        <div class="col-sm-5">
          <select class="form-control" id="unit1">
            <option value="" selected>Select</option>
            <option value="1">前に進む[cm]</option>
            <option value="2">右を向く(タイヤ)</option>
            <option value="3">右を向く(カメラ)[度]</option>
            <option value="4">左を向く(タイヤ)</option>
            <option value="5">左を向く(カメラ)[度]</option>
            <option value="6">後ろに進む[cm]</option>
            <option value="7">上を向く[度]</option>
            <option value="8">下を向く[度]</option>
            <option value="9">物体を認識</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control mr-2" id="input1" placeholder="Enter a number" disabled>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="unit2" class="col-sm-1 col-form-label">Unit2:</label>
        <div class="col-sm-5">
          <select class="form-control" id="unit2">
            <option value="" selected>Select</option>
            <option value="1">前に進む[cm]</option>
            <option value="2">右を向く(タイヤ)</option>
            <option value="3">右を向く(カメラ)[度]</option>
            <option value="4">左を向く(タイヤ)</option>
            <option value="5">左を向く(カメラ)[度]</option>
            <option value="6">後ろに進む[cm]</option>
            <option value="7">上を向く[度]</option>
            <option value="8">下を向く[度]</option>
            <option value="9">物体を認識</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control mr-2" id="input2" placeholder="Enter a number" disabled>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="unit3" class="col-sm-1 col-form-label">Unit3:</label>
        <div class="col-sm-5">
          <select class="form-control" id="unit3">
            <option value="" selected>Select</option>
            <option value="1">前に進む[cm]</option>
            <option value="2">右を向く(タイヤ)</option>
            <option value="3">右を向く(カメラ)[度]</option>
            <option value="4">左を向く(タイヤ)</option>
            <option value="5">左を向く(カメラ)[度]</option>
            <option value="6">後ろに進む[cm]</option>
            <option value="7">上を向く[度]</option>
            <option value="8">下を向く[度]</option>
            <option value="9">物体を認識</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control mr-2" id="input3" placeholder="Enter a number" disabled>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="unit4" class="col-sm-1 col-form-label">Unit4:</label>
        <div class="col-sm-5">
          <select class="form-control" id="unit4">
            <option value="" selected>Select</option>
            <option value="1">前に進む[cm]</option>
            <option value="2">右を向く(タイヤ)</option>
            <option value="3">右を向く(カメラ)[度]</option>
            <option value="4">左を向く(タイヤ)</option>
            <option value="5">左を向く(カメラ)[度]</option>
            <option value="6">後ろに進む[cm]</option>
            <option value="7">上を向く[度]</option>
            <option value="8">下を向く[度]</option>
            <option value="9">物体を認識</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control mr-2" id="input4" placeholder="Enter a number" disabled>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="unit5" class="col-sm-1 col-form-label">Unit5:</label>
        <div class="col-sm-5">
          <select class="form-control" id="unit5">
            <option value="" selected>Select</option>
            <option value="1">前に進む[cm]</option>
            <option value="2">右を向く(タイヤ)</option>
            <option value="3">右を向く(カメラ)[度]</option>
            <option value="4">左を向く(タイヤ)</option>
            <option value="5">左を向く(カメラ)[度]</option>
            <option value="6">後ろに進む[cm]</option>
            <option value="7">上を向く[度]</option>
            <option value="8">下を向く[度]</option>
            <option value="9">物体を認識</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control mr-2" id="input5" placeholder="Enter a number" disabled>
        </div>
      </div>
      <div>
        <button id="start-button" class="btn btn-primary mt-3">START</button>
      </div>
    </div>
  </div>
</div>

<script src="../static/js/program.js" async></script>
<script src="../static/js/common.js" async></script>

</div>
</div>
<br>
<footer>
    <div align="center">
        <p>This is a Okatron AI application Powered by <b>GSMS OKTC</b></p>
    </div>
</footer>
</body>
</html>